# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

*.sln
*.csproj

# ===== #
# Rider #
# ===== #
.idea/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============= #
# Miscellaneous #
# ============= #
Build/
.vs/
# While we are keeping saves in the resources, might as well exclude them.
Assets/Resources/SaveData/

